.property-management-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
}

app-navbar-home {
  width: 100%;
}

.property-management-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
}

button {
  padding: 10px 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #186C6C;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

button:hover {
  background-color: #005f5f;
}

button:disabled {
  background-color: #444444;
  cursor: not-allowed;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  margin: 20px 0;
}

.filter-container {

}

.search-section label {
  font-size: 16px;
  color: #f0f0f0;
}

.search-section label.hidden {
  display: none;
}

.search-section input {
  padding: 10px;
  font-size: 14px;
  color: #f0f0f0;
  border: 1px solid #444;
  background-color: #333;
  border-radius: 4px;
}

.search-section input:focus {
  outline: none;
  border-color: #186C6C;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: left;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

thead th {
  background-color: #f4f4f4;
  color: #333;
  padding: 12px 15px;
  border: 1px solid #ddd;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
thead th.actions-column,
tbody td.actions-column {
  width: 120px; 
  text-align: center;
  white-space: nowrap; 
  padding: 5px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
